*, *:before, *:after {
  box-sizing: border-box;
}



.main {
  display: flex;
  width: 100vw;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/hero-slide1.jpg");
  background-position: center;
}

.top-div {
  color: lightgray;
  width: 90%;
  max-width: 1000px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;

}

#duck {
  height: 50px;
  width: 50px;
}

li {
  display: inline-block;
}

.title-card {
  height: 500px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  h1 {
    font-size: 130px;
  }
}

.service-gallery {
  width: 100%;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
}

.gallery {
  position: relative;
  height: 400px;
  width: 200px;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-basis: 2;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  color: white;
  h2 {
    align-self: flex-start;
    position: absolute;
    bottom: 30px;
    left: 30px;
  }
  span {
    align-self: flex-start;
    position: absolute;
    bottom: 65px;
    left: 30px;
    height: 5px;
    background-color: #dc7725;
    width: 30px;
  }
}

.raft {
  background-image: url('../img/home-raft.jpg');
  flex-basis: 50%;
}

.camp {
  background-image: url('../img/home-basecamp.jpg');
  flex-basis: 25%;
}

.backpack {
  background-image: url('../img/home-backpacking.jpg');
  flex-basis: 25%;
}

.canoe {
  background-image: url('../img/home-canoe.jpg');
  flex-basis: 25%;
}

.photography {
  background-image: url('../img/home-photo.jpg');
  flex-basis: 25%;
}

.custom {
  background-image: url('../img/home-custom.jpg');
  flex-basis: 50%;
}

.circle {
  display: flex;
  width: 90px;
  height: 90px;
  background: rgba(52, 52, 52, .7);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: transform (2s, .2s);
  img {
    width: 50%;
  }
  &:hover {
    transform: scale(1.25);
    z-index: 1;
  }
}
